* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  /* font-size: 62.5%; */
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Cinzel", serif;
}
.wrapper {
  background: rgba(161, 5, 5, 0.808);
  margin: 0 auto;
  padding: 5px;
  width: 70%;
  margin-top: 2rem;
}
h1 {
  color: #fd0404b9;
  
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
hr{
  width: 30%;
 
  margin: 0 auto; 
}
input, select, button {
  padding: 1rem;
  margin-right: 0.5rem;

}
.section-footer,
p {
  color: white;
  font-size: 2rem;
}
.section-input {
  padding: 2rem;
}
.section-transaction {
  display: flex;
 
}
.income-box,
.expenses-box {
  border: 1px solid lightgray;
  min-height: 400px;
  width: 50%;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}
.incomes{
  display: flex;
  justify-content:space-evenly;
  margin-top: 1rem;
  letter-spacing: 2px;
  
  
}
.incomes p{
  font-size: 1rem;
  
}